<a href="https://colab.research.google.com/github/KaranDabhade21/Amazon-sales-report-using-python-/blob/main/chapter_appendix-tools-for-deep-learning/jupyter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Using Jupyter Notebooks
:label:`sec_jupyter`


This section describes how to edit and run the code
in each section of this book
using the Jupyter Notebook. Make sure you have
installed Jupyter and downloaded the
code as described in
:ref:`chap_installation`.
If you want to know more about Jupyter see the excellent tutorial in
their [documentation](https://jupyter.readthedocs.io/en/latest/).


## Editing and Running the Code Locally

Suppose that the local path of the book's code is `xx/yy/d2l-en/`. Use the shell to change the directory to this path (`cd xx/yy/d2l-en`) and run the command `jupyter notebook`. If your browser does not do this automatically, open http://localhost:8888 and you will see the interface of Jupyter and all the folders containing the code of the book, as shown in :numref:`fig_jupyter00`.

![The folders containing the code of this book.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter00.png?raw=1)
:width:`600px`
:label:`fig_jupyter00`


You can access the notebook files by clicking on the folder displayed on the webpage.
They usually have the suffix ".ipynb".
For the sake of brevity, we create a temporary "test.ipynb" file.
The content displayed after you click it is
shown in :numref:`fig_jupyter01`.
This notebook includes a markdown cell and a code cell. The content in the markdown cell includes "This Is a Title" and "This is text.".
The code cell contains two lines of Python code.

![Markdown and code cells in the "text.ipynb" file.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter01.png?raw=1)
:width:`600px`
:label:`fig_jupyter01`


Double click on the markdown cell to enter edit mode.
Add a new text string "Hello world." at the end of the cell, as shown in :numref:`fig_jupyter02`.

![Edit the markdown cell.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter02.png?raw=1)
:width:`600px`
:label:`fig_jupyter02`


As demonstrated in :numref:`fig_jupyter03`,
click "Cell" $\rightarrow$ "Run Cells" in the menu bar to run the edited cell.

![Run the cell.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter03.png?raw=1)
:width:`600px`
:label:`fig_jupyter03`

After running, the markdown cell is shown in :numref:`fig_jupyter04`.

![The markdown cell after running.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter04.png?raw=1)
:width:`600px`
:label:`fig_jupyter04`


Next, click on the code cell. Multiply the elements by 2 after the last line of code, as shown in :numref:`fig_jupyter05`.

![Edit the code cell.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter05.png?raw=1)
:width:`600px`
:label:`fig_jupyter05`


You can also run the cell with a shortcut ("Ctrl + Enter" by default) and obtain the output result from :numref:`fig_jupyter06`.

![Run the code cell to obtain the output.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter06.png?raw=1)
:width:`600px`
:label:`fig_jupyter06`


When a notebook contains more cells, we can click "Kernel" $\rightarrow$ "Restart & Run All" in the menu bar to run all the cells in the entire notebook. By clicking "Help" $\rightarrow$ "Edit Keyboard Shortcuts" in the menu bar, you can edit the shortcuts according to your preferences.

## Advanced Options

Beyond local editing two things are quite important: editing the notebooks in the markdown format and running Jupyter remotely.
The latter matters when we want to run the code on a faster server.
The former matters since Jupyter's native ipynb format stores a lot of auxiliary data that is
irrelevant to the content,
mostly related to how and where the code is run.
This is confusing for Git, making
reviewing contributions very difficult.
Fortunately there is an alternative---native editing in the markdown format.

### Markdown Files in Jupyter

If you wish to contribute to the content of this book, you need to modify the
source file (md file, not ipynb file) on GitHub.
Using the notedown plugin we
can modify notebooks in the md format directly in Jupyter.


First, install the notedown plugin, run the Jupyter Notebook, and load the plugin:

```
pip install d2l-notedown  # You may need to uninstall the original notedown.
jupyter notebook --NotebookApp.contents_manager_class='notedown.NotedownContentsManager'
```

You may also turn on the notedown plugin by default whenever you run the Jupyter Notebook.
First, generate a Jupyter Notebook configuration file (if it has already been generated, you can skip this step).

```
jupyter notebook --generate-config
```

Then, add the following line to the end of the Jupyter Notebook configuration file (for Linux or macOS, usually in the path `~/.jupyter/jupyter_notebook_config.py`):

```
c.NotebookApp.contents_manager_class = 'notedown.NotedownContentsManager'
```

After that, you only need to run the `jupyter notebook` command to turn on the notedown plugin by default.

### Running Jupyter Notebooks on a Remote Server

Sometimes, you may want to run Jupyter notebooks on a remote server and access it through a browser on your local computer. If Linux or macOS is installed on your local machine (Windows can also support this function through third-party software such as PuTTY), you can use port forwarding:

```
ssh myserver -L 8888:localhost:8888
```

The above string `myserver` is the address of the remote server.
Then we can use http://localhost:8888 to access the remote server `myserver` that runs Jupyter notebooks. We will detail on how to run Jupyter notebooks on AWS instances
later in this appendix.

### Timing

We can use the `ExecuteTime` plugin to time the execution of each code cell in Jupyter notebooks.
Use the following commands to install the plugin:

```
pip install jupyter_contrib_nbextensions
jupyter contrib nbextension install --user
jupyter nbextension enable execute_time/ExecuteTime
```

## Summary

* Using the Jupyter Notebook tool, we can edit, run, and contribute to each section of the book.
* We can run Jupyter notebooks on remote servers using port forwarding.


## Exercises

1. Edit and run the code in this book with the Jupyter Notebook on your local machine.
1. Edit and run the code in this book with the Jupyter Notebook *remotely* via port forwarding.
1. Compare the running time of the operations $\mathbf{A}^\top \mathbf{B}$ and $\mathbf{A} \mathbf{B}$ for two square matrices in $\mathbb{R}^{1024 \times 1024}$. Which one is faster?


[Discussions](https://discuss.d2l.ai/t/421)

In [2]:
def myfunc(a,b):
  c = a + b
  return c

a = myfunc(10,10)
print(a)

20

In [6]:
def myfunc(a,b):
  result = a+b
  print(f"multiply {a} and {b} = {result}")

myfunc(10,10)

multiply 10 and 10 = 20

In [7]:
def myfunc(a,b):
  print(f"multiply {a} and {b}")
  result = a+b
  return result

myfunc(10,10)

multiply 10 and 10

20

In [11]:
square = lambda x: x** 2

print(square(2))
print(square(10))

4
100

In [14]:
text = "grape orange grape orange banana"
word = text.split()
word_count = {word: word.count(word)
              for word in set(word)}
print(word_count)

{'orange': 1, 'banana': 1, 'grape': 1}

In [15]:
def example():
  return "this is end here"

example(

)

'this is end here'

In [23]:
def multiple(x):
  if x > 0:
    return "this is positive number"

  return "this is negative number"

multiple(2)

'this is positive number'

In [24]:
def no_return():
  pass

no_return()

In [25]:
def multiple_values():
  return 1,2,3

a,b,c = multiple_values()

In [29]:
def check(x):
  if x%2 == 0:
    return "even"
  else:
    return "odd"

check(2)

'even'

In [31]:
result = (lambda x: x*2)(5)
print(result)

10

In [32]:
def generater():
  yield 1
  yield 2
  yield 3

gen = generater()
for i in gen:
  print(i)

1
2
3

In [36]:
def outer():
  def inner():
    return "hello karan"
  return inner()

fun = outer()
print(fun)

hello karan

In [38]:
class Myclass:
  def __init__(self):
    return None

a = Myclass()

#**Implement Variable length argument in python **

In [39]:
def average(*t):
  avg = sum(t)/len(t)
  return avg

list1 = average(10,21,41,55)
list2 = average(1,2,3,4)

print("Average of list1 :",list1)
print("Average of list2 : ", list2)

Average of list1 : 31.75
Average of list2 :  2.5

In [41]:
f = lambda n : 1 if n==0 else n*f(n-1)
print(f(3))

6

# Reverse a String
Question: Write a Python program to reverse a string.


Definition: Reversing a string means rearranging the characters in reverse order.

In [42]:
def reverse_string(s):
  return s[::-1]

print(reverse_string("karan"))

narak

# Check for Palindrome
Question: Write a Python program to check if a string is a palindrome.

Definition: A palindrome is a word that reads the same forwards and backward.

In [53]:
def check(x):
  return x == x[::-1]

print(check("karan"))
print(check("radar"))

False
True

In [58]:
def check(x):
  if x == x[::-1]:
    return ("{} = the string is palindrome".format(x))
  else:
    return ("{} = the string is not palindrome".format(x))

a = check("karan")
print(a)

b = check("radar")
print(b)

karan = the string is not palindrome
radar = the string is palindrome

In [63]:
x = input("enter your string here :")

if x == x[::-1]:
  print("{} = the string is palindrome".format(x))
else:
  print("{} = the string is not palindrome".format(x))

enter your string here :radar
radar = the string is palindrome

# Find the Factorial of a Number
Question: Write a Python program to calculate the factorial of a number.

Definition: Factorial of a number n is the product of all integers from 1 to n.

5! = 5 × 4 × 3 × 2 × 1 = 120

In [66]:
def factorial(n):
  result = 1
  for i in range(1, n+1):
    result *= i
  return result

print(factorial(5))

120

In [77]:
def factorial(n):
  result = 1
  while n > 0:
    result *= n
    n -= 1
  return result

print(factorial(5))

120

In [86]:
def factorial(n):
  result = 1
  for i in range(1, n+1):
    result *= i
  return result

n = int(input("enter:"))


a = factorial(n)
print(a)
print(f"{a} is the factorial of {n}")

enter:5
120
120 is the factorial of 5

# Check for Prime Number
Question: Write a Python program to check if a number is prime.

Definition: A prime number is greater than 1 and divisible only by 1 and itself.

For 7:
Divisors: 1 and 7
Output: True (Prime)

For 8:
Divisors: 1, 2, 4, 8
Output: False (Not Prime)

In [112]:
n= int(input("enter your number here :"))

for i in range(2,n):
  if n % i == 0:
    print("not prime ")
    break

else:
  print("number is prime ")

enter your number here :8
not prime

# Find the Largest Element in a List
Question: Write a Python program to find the largest element in a list.

Definition: The largest element is the one with the highest value in the list.

Input: [1, 5, 3, 9, 2]
Step: Compare each element
Output: 9 (Largest)

In [113]:
list = [5,4,9,2,1,4]
largest = max(list)
print(largest)

9

In [118]:
def largest(list):
  result = max(list)
  return result

# list = [5,4,9,2,1,4]

print(largest([5,4,9,2,1,4]))

9

In [121]:
list = [5,4,9,2,1,4]

for i in list:
  c = max(list)
  print(c)
  break

9

# Fibonacci Sequence
Question: Write a Python program to generate a Fibonacci sequence.

Definition: A Fibonacci sequence starts with 0 and 1, and each subsequent number is the sum of the previous two.

0, 1 → 0+1=1 → 1+1=2 → 1+2=3 → 2+3=5

In [133]:
def fibonacci(n):
  a = 0
  b = 1
  if n == 1:
    print(a)
  else:

    print(a)
    print(b)

    for i in range(3,n):
      c = a+b
      a = b
      b = c
      print(c)

fibonacci(10)

0
1
1
2
3
5
8
13
21

In [134]:
a = 0
b = 1

num = int(input("enter your number here :"))

if num == 1:
  print(a)

else:
  print(a)
  print(b)

  for i in range(1,num+1):
    c = a + b
    a = b
    b = c
    print(c)

enter your number here :10
0
1
1
2
3
5
8
13
21
34
55
89

# Swap Two Variables
Question: Write a Python program to swap two variables without a temporary variable.

Definition: Swapping variables exchanges their values.

a = 3, b = 5
Swap: a ↔ b
Output: a = 5, b = 3

In [137]:
a = 5
b = 6

a,b = b,a
print(a)
print(b)

6
5

In [144]:
def swap(a,b):
  a,b = b,a
  return a,b

result = swap(5,6)
print(result,  f"a is {a}and b is {b}")

(6, 5) a is (6, 5)and b is 5

# Count Vowels in a String
Question: Write a Python program to count vowels in a string.

Definition: Vowels are a, e, i, o, u (case-insensitive).

Input: "Hello"

Vowels: e, o

Count: 2

In [147]:
sentence = input("enter your sentence:")
convert = sentence.lower()
print(convert)

count = 0
list = ['a','e','i','o','u']

for i in convert:
  if i in list:
    count = count+1

print(f"The count of Vowels are in the string is  =  {count} ")

enter your sentence:KARAN DABhade IS  nice  BOY   and Good person
karan dabhade is  nice  boy   and good person
The count of Vowels are in the string is  =  14

In [150]:
str = input("text :")

count = 0
for i in str:
  if i in "aAeEiIoOuU":
    count += 1
print("count:", count)

text :kRAN
count: 1

In [151]:
def vowel(str):
  count = 0
  for i in str:
    if i in "aAeEiIoOuU":
      count += 1
  return count

str = input("text :")

print(vowel(str))

text :karan
2

#ort a List
Question: Write a Python program to sort a list in ascending order.

Definition: Sorting rearranges elements from smallest to largest.

Input: [3, 1, 4, 1, 5]

Sorted: [1, 1, 3, 4, 5]

In [5]:
def sort(list):
  return sorted(list)

list  = [5,1,2,7,3,4,6]

print(sort(list))

[1, 2, 3, 4, 5, 6, 7]

In [6]:
list  = [5,1,2,7,3,4,6]
sort_array = sort(list)
print(sort_array)

[1, 2, 3, 4, 5, 6, 7]

#  Find Duplicates in a List
Question: Write a Python program to find duplicates in a list.

Definition: A duplicate is a value that appears more than once.

Input: [1, 2, 3, 1, 2, 4]

Seen: 1, 2

Duplicates: [1, 2]

In [29]:
def find_duplicates_for(lst):

    seen = set()
    duplicates = set()

    for item in lst:
        if item in seen:
            duplicates.add(item)
        else:
            seen.add(item)
    return duplicates

print(find_duplicates_for([1, 2, 3, 1, 2, 4]))

{1, 2}

In [26]:
def unique_list(list):
  duplicates = []
  unique_number = set()

  for i in list:
    if i in unique_number:
      duplicates.append(i)

    else:
      unique_number.add(i)

  return duplicates

list = [1,4,1,2,4,2,5,6,7,7,8]
a = unique_list(list)
print(a)

[1, 4, 2, 7]